<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if(!currentUser) {%>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Sign Up</a>
                    <%} else {%>
                <a class="nav-item nav-link" href="#">Signed in as: <%= currentUser.username %></a>
                <a class="nav-item nav-link disabled" href="logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>