<% include layouts/header %>
  <% include layouts/nav %>

    <div class="container">
      <h1>Hi, welcome to YelpCamp!</h1>

      <h2>Check out our
        <a href="/campgrounds">Camp Grounds</a>!</h2>
    </div>


    <% include layouts/footer %>