<% include layouts/header %>
<% include layouts/nav %>
<h2>Login Form</h2>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit" class="btn btn-info">Log Me In!</button>
</form>


<% include layouts/footer %>