<% include layouts/header %>

<div class="row">
    <h1 style="text-align: center" class="col-12 mt-4">Login</h1>
    <div style="width: 45%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <form action="/auth/facebook" method="get">
            <div class="form-group">
                <button class="btn btn-lg btn-info btn-block">Continue with Facebook</button>
            </div>
        </form>
        
        <!-- <div class="col-12" style="margin-left: -15px;">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false"
                data-use-continue-as="false"></div>
        </div> -->
        <div class="mt-4">
            <a href="/campgrounds">Go Back</a>
        </div>
        
    </div>
</div>

<% include layouts/footer %>