<% include layouts/header %>

    <div class="container">
        <div class="row">
            <h2>Sign up form</h2>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="text" name="password" placeholder="password">
                <button class="btn btn-info">Sign Me Up!</button>
            </form>
        </div>
    </div>






    <% include layouts/footer %>